.customer-reviews__list {
  margin-top: 128px;
  margin-bottom: 100px;
  text-align: center;
}
.customer-reviews__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  border-radius: 44px;

  background-color: #6e6e6e;
}
.customer-reviews__text {
  margin-bottom: 32px;
  padding: 43px 109px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;

  text-align: center;
  letter-spacing: 0.04em;

  color: #fcfcfc;

  background-color: #84a178;
  border-radius: 24px;
}
.customer-reviews__container {
  width: 1200px;
  padding: 0 116px;
  margin-left: auto;
  margin-right: auto;
}

.customer-reviews__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;

  text-align: center;

  color: #131313;

  margin-bottom: 32px;
}
