<section class="section gallery">
  <div class="background-top"></div>
  <div class="background-bottom"></div>
  <div class="container gallery__container">
    <h2 class="visually-hidden">gallery</h2>
    <div class="gallery__list images autoplay">
      <div>
        <a class="gallery__link" href="./images/ice-cream-desktop-1@1x.jpg"
          ><img
            class="gallery__img"
            srcset="./images/ice-cream-desktop-1@1x.jpg"
            src="./images/ice-cream-desktop-1@1x.jpg"
            alt="ice cream"
            width="1013"
            height="422"
        /></a>
      </div>
      <div>
        <a class="gallery__link" href="./images/testimg.jpg"
          ><img
            class="gallery__img"
            srcset="./images/testimg.jpg"
            src="./images/testimg.jpg"
            alt="ice cream"
            width="1013"
            height="422"
        /></a>
      </div>
      <div>
        <a class="gallery__link" href="./images/ice-cream-desktop-3@1x.jpg"
          ><img
            class="gallery__img"
            srcset="./images/ice-cream-desktop-3@1x.jpg"
            src="./images/ice-cream-desktop-3@1x.jpg"
            alt="ice cream"
            width="1013"
            height="422"
        /></a>
      </div>
    </div>
  </div>
</section>
